* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  line-height: 75px;
  background: black;
}

input {
  display: none;
}

nav .navbar-brand {
  color: white;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: .5px;
}

nav .nav-list .nav-item {
  cursor: pointer;
  transition: .4s;
}

nav .nav-list .nav-item:hover {
  background: gold;
}

nav .nav-list .nav-link {
  color: white;
  font-size: 18px;
}

nav .navbar-toggler {
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: white;
  border-radius: 10%;
  transition: .4s;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
position: absolute;
transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
    }

@media (max-width: 1920px) {

  nav .nav-list {
    display: grid;
    position: absolute;
    background: black;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: .6s;
  }

  nav .nav-list .nav-item {
    padding-left: 35px;
  }

  nav .navbar-toggler {
    display: grid !important;
  }

}

